@font-face
{
	font-family: Aliquam;
	src: url('/static/fonts/Aliquam.ttf');
}

@media only screen
{
	html {
		overflow: auto;
	}
	

	body
	{
		margin: 0 auto;
		min-height: 125px;
		width: 1000px;
		background-color: gainsboro;
		font-family: Verdana, Geneva, sans-serif;
	}

	header
	{
		margin-top: 10px;
		text-align:center;
		margin-left: auto;
		margin-right: auto;
		width: 850px;
		padding-bottom: 30px;
	}
	
	.header_container
	{
		width: 100%;
	}
	
	.footer-container
	{
		margin-top: 20px;
		font-family: Aliquam;
		text-align: center;
	}
	
	hr.headerhr
	{
		width: 1000px;
		position: absolute;
		top: 109px;
		padding: 0;
		border: none;
		border-top: medium double white;
		color: white;
		text-align: center;
		z-index: -1;
	}
	
	.subheading
	{
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
		color: darkgreen;
	}

	.title 
	{
		display:block;
		text-decoration:none;
		color: darkgreen;
		font-family: Aliquam;
		font-size: 250%;
		font-weight: normal;
	}
	
	.logo
	{
		border-radius: 100%;
		background-color: green;
		color: white;
		font-family: Aliquam;
		font-size: 25pt;
		opacity:0.8;
	}
}
